[submodule "obilele-app"]
	path = mobilele-app
	url = https://github.com/guardiankiller/mobilele-app.git
	branch = master

[submodule "pathfinder"]
	path = pathfinder
	url = https://github.com/guardiankiller/pathfinder.git
	branch = main

